@model SuspectModel

<div class="modal-header">
    <h1 class="modal-title fs-5">Düzenle</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="frmEditSuspect" asp-action="EditSuspect" method="post" data-ajax="true" data-ajax-method="post" data-ajax-update="#modalEditContent">
        <div asp-validation-summary="ModelOnly" class="text-danger small"></div>

        <div class="form-group mb-3">
            <label asp-for="Tc" class="form-label"><i class="fa-solid fa-address-card me-2"></i>Kimlik No</label>
            <input asp-for="Tc" class="form-control" placeholder="Kimlik No" />
            <span asp-validation-for="Tc" class="text-danger small"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Name" class="form-label"><i class="fa-solid fa-signature me-2"></i>İsim</label>
            <input asp-for="Name" class="form-control" placeholder="İsim" />
            <span asp-validation-for="Name" class="text-danger small"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="LastName" class="form-label"><i class="fa-solid fa-signature me-2"></i>Soyisim</label>
            <input asp-for="LastName" class="form-control" placeholder="Soyisim" />
            <span asp-validation-for="LastName" class="text-danger small"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="DateOfBirth" class="form-label"><i class="fa-solid fa-calendar-days me-2"></i>Doğum Tarihi</label>
            <input asp-for="DateOfBirth" class="form-control" placeholder="Doğum Tarihi" />
            <span asp-validation-for="DateOfBirth" class="text-danger small"></span>
        </div>
        <div><label asp-for="Gender" class="form-label"><i class="fa-solid fa-venus-mars me-2"></i>Cinsiyet</label></div>

        <div class="input-group mb-3">

            <div>
                <select asp-for="Gender" class="form-select">
                    <option value="">Seçiniz...</option>
                    <option value="Erkek">Erkek</option>
                    <option value="Kadın">Kadın</option>

                </select>
            </div>

            <div>  <span asp-validation-for="Gender" class="text-danger small"></span></div>

        </div>
        <div class="form-group mb-3">
            <label asp-for="Nationality" class="form-label"><i class="fa-solid fa-earth-europe me-2"></i>Uyruk</label>
            <input asp-for="Nationality" class="form-control" placeholder="Uyruk" />
            <span asp-validation-for="Nationality" class="text-danger small"></span>
        </div>

        <div><label asp-for="District" class="form-label"><i class="fa-solid fa-building-circle-arrow-right me-2"></i>İlçe</label></div>

        <div class="input-group mb-3">

            <div>
                <select asp-for="District" class="form-select">
                    <option value="">Seçiniz...</option>
                    <option value="Adalar">Adalar</option>
                    <option value="Arnavutköy">Arnavutköy</option>
                    <option value="Ataşehir">Ataşehir</option>
                    <option value="Avcılar">Avcılar</option>
                    <option value="Bağcılar">Bağcılar</option>
                    <option value="Bahçelievler">Bahçelievler</option>
                    <option value="Bakırköy">Bakırköy</option>
                    <option value="Başakşehir">Başakşehir</option>
                    <option value="Bayrampaşa">Bayrampaşa</option>
                    <option value="Beşiktaş">Beşiktaş</option>
                    <option value="Beykoz">Beykoz</option>
                    <option value="Beylikdüzü">Beylikdüzü</option>
                    <option value="Beyoğlu">Beyoğlu</option>
                    <option value="Büyükçekmece">Büyükçekmece</option>
                    <option value="Çatalca">Çatalca</option>
                    <option value="Çekmeköy">Çekmeköy</option>
                    <option value="Esenler">Esenler</option>
                    <option value="Esenyurt">Esenyurt</option>
                    <option value="Eyüpsultan">Eyüpsultan</option>
                    <option value="Fatih">Fatih</option>
                    <option value="Gaziosmanpaşa">Gaziosmanpaşa</option>
                    <option value="Güngören">Güngören</option>
                    <option value="Kadıköy">Kadıköy</option>
                    <option value="Kağıthane">Kağıthane</option>
                    <option value="Kartal">Kartal</option>
                    <option value="Küçükçekmece">Küçükçekmece</option>
                    <option value="Maltepe">Maltepe</option>
                    <option value="Pendik">Pendik</option>
                    <option value="Sancaktepe">Sancaktepe</option>
                    <option value="Sarıyer">Sarıyer</option>
                    <option value="Silivri">Silivri</option>
                    <option value="Sultanbeyli">Sultanbeyli</option>
                    <option value="Sultangazi">Sultangazi</option>
                    <option value="Şile">Şile</option>
                    <option value="Şişli">Şişli</option>
                    <option value="Tuzla">Tuzla</option>
                    <option value="Ümraniye">Ümraniye</option>
                    <option value="Üsküdar">Üsküdar</option>
                    <option value="Zeytinburnu">Zeytinburnu</option>



                </select>
            </div>

            <div>  <span asp-validation-for="District" class="text-danger small"></span></div>

        </div>

        <div class="form-group mb-3">
            <label asp-for="CatchAdress" class="form-label"><i class="fa-solid fa-handcuffs me-2"></i>Yakalanma Adresi</label>
            <input asp-for="CatchAdress" class="form-control" placeholder="Yakalanma Adresi" />
            <span asp-validation-for="CatchAdress" class="text-danger small"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Phone" class="form-label"><i class="fa-solid fa-handcuffs me-2"></i>İletişim</label>
            <input asp-for="Phone" class="form-control" placeholder="İletişim" />
            <span asp-validation-for="Phone" class="text-danger small"></span>
        </div>

        <input type="hidden" asp-for="Id" />
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Kapat</button>
    <button type="submit" class="btn btn-primary btn-sm" form="frmEditSuspect"><i class="fa fa-save me-2"></i>Kaydet</button>
</div>



@if (string.IsNullOrEmpty(Model.Done) == false)
{
    <script>
        $("#modalEdit").modal("hide");
        toastr.success('@Model.Done','Başarılı')
        refresh.click();
    </script>
}